@model ForumSystem.Web.ViewModels.Categories.CategoryIndexModel
@using ForumSystem.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>List of categories</h1>

<table class="table table-bordered table-hover">

    <tbody>
        @foreach (var category in Model.CategoryList)
        {
            <tr>
                <td>
                    <div class="row">
                        <div class="col-1 text-center"><img src="@category.ImageUrl" style="width: 40px" /></div>
                        <div class="col-10 ">
                            <a style="font-size: 1.5em" asp-controller="Category" asp-action="Details" asp-route-id="@category.Id">
                                @category.Title
                            </a>

                            @if (category.HasRecentPost)
                            {
                                <div class="badge badge-success">New</div>
                            }
                            <br />

                            @category.Description
                            <div class="text-muted">
                                @category.NumberOfPosts Posts by
                                @category.NumberOfUsers Users
                            </div>
                        </div>







                    </div>
                </td>
            </tr>


        }
    </tbody>
</table>

@if (Model.PagesCount > 0)
{
    <div class="text-center">
        <ul class="pagination pagination-sm flex-sm-wrap">
            <li>
                <a href="@Url.Action("Index", "Category", new {page = Model.PreviousPage})">
                    <i class="fa fa-backward"></i>
                </a>
            </li>
            @for (int i = 1; i <= Model.PagesCount; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="active"><a href="@Url.Action("Index", "Category", new {page = i})">@i</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Index", "Category", new {page = i})">@i</a></li>
                }
            }
            <li>
                <a href="@Url.Action("Index", "Category", new {page = Model.NextPage})">
                    <i class="fa fa-forward"></i>
                </a>
            </li>
        </ul>
    </div>
}