@using ForumSystem.Web.Infrastructure.Extensions
@model ForumSystem.Web.ViewModels.Posts.PostIndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>@Model.Title</h1>
<a asp-controller="Category" asp-action="Details" asp-route-id="@Model.CategoryId">Back to forum</a>


<div class="card">
    @if (Model.IsCurrentUserAuthorOrAdmin)
    {
        <form method="get" asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id">
            <button class="btn btn-custom-post"><i class="fa fa-edit"> Edit</i></button>
        </form>
    }
    <div class="card-body row">
        <div class="col-2 text-center">
            <img src="@Model.AuthorImageUrl" class="img-circle-post" />

            <br />
            <a asp-controller="Profile" asp-action="Details" asp-route-id="@Model.AuthorId">@Model.AuthorName</a>
            @if (Model.IsAuthorAdmin)
            {
                <br />
                <p class="badge badge-dark" style="width: 60px;">@Model.AuthorName</p>
            }
            else
            {
                <p class="badge badge-success" style="width: 60px;">@Model.AuthorName</p>
            }
            <br />
            Points:
            (@Model.AuthorRating)

        </div>
        <div class="col-10">

            <p class="card-text">@Html.Raw(Model.PostContent)</p>

        </div>
    </div>
    <div class="card-footer text-muted">
        Posted on: @Model.Created
        <form id="votesForm" method="post"></form>
        <div>
            <a href="#" onclick="sendVote(@Model.Id, true)">
                <i class="fa fa-thumbs-up"></i>
            </a>
        </div>

        <div id="votesCount">@Model.TotalVotes</div>
        <div>
            <a href="#" onclick="sendVote(@Model.Id, false)">
                <i class="fa fa-thumbs-down"></i>
            </a>
        </div>
    </div>
</div>

<br />

@if (Model.Replies.Any())
{
    <b style="font-size: 30px">Replies:</b>
    foreach (var reply in Model.Replies)
    {


        <br />

        <div class="card">
            @if (this.User.IsAdmin() || this.User.Identity.Name == reply.AuthorName)
            {
                <form method="get" asp-controller="Reply" asp-action="Edit" asp-route-id="@reply.Id">
                    <button class="btn btn-custom-post"><i class="fa fa-edit"> Edit</i></button>
                </form>
            }
            <div class="card-body row">
                <div class="col-2 text-center">
                    <img src="@reply.AuthorImageUrl" class="img-circle-post" />

                    <br />
                    <a asp-controller="Profile" asp-action="Details" asp-route-id="@reply.AuthorId">@reply.AuthorName</a>
                    @if (reply.IsAuthorAdmin)
                    {
                        <br />
                        <p class="badge badge-dark" style="width: 60px;">@Model.AuthorName</p>
                    }
                    else
                    {
                        <p class="badge badge-success" style="width: 60px;">@Model.AuthorName</p>
                    }
                    <br />

                    Points:
                    (@reply.KarmaPoints)

                </div>
                <div class="col-10">

                    <p class="card-text"> @Html.Raw(reply.ReplyContent)</p>

                </div>
            </div>
            <div class="card-footer text-muted">
                Posted on: @reply.Created
            </div>

            <div class="text-muted small ml-3">

            </div>
        </div>






    }
}

else
{
    <div class="text-center text-primary">
        <h3>There are no replies to this post</h3>
    </div>
}



<br />




@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <span><a class="btn btn-dark" asp-controller="Reply" asp-action="Create" asp-route-id="@Model.Id">Add a Reply</a></span>
    </div>
}
else
{
    <p class="text-center text-dark">
        You must be a registered user to add a reply.
        <a class=" text-primary" asp-area="Identity" asp-page="/Account/Register">Login</a> or
        <a class=" text-primary" a asp-area="Identity" asp-page="/Account/Register">Register</a>
        now.
    </p>
}


@section Scripts {
    <script>

        function sendVote(postId, isUpVote) {
            var token = $("#votesForm input[name=__RequestVerificationToken]").val();
            var json = { postId: postId, isUpVote: isUpVote };
            $.ajax({
                url: "/api/votes",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    $("#votesCount").html(data.votesCount);
                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.TITLE);
                }
            });

        }
    </script>
}
